.modal {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.description {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.icon {
  flex-shrink: 0; /* Заборона зменшення розміру іконки */
}
.textWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.imgContainer {
  position: relative;
}
.modalLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .description {
    font-size: 20px;
    gap: 10px;
  }
  .icon {
    height: 25px;
    width: 25px;
  }
  .img {
    width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .description {
    font-size: 25px;
    gap: 13px;
  }
  .icon {
    height: 30px;
    width: 30px;
  }
  .img {
    width: 700px;
  }
}
